*~

# временные файлы, которые могут быть созданы, если у процесса еще есть дескриптор удаленного файла
.fuse_hidden*

# Настройки каталога KDE
.directory

# Папка для мусора Linux, которая может появиться в любом разделе или диске
.Trash-*

# Файлы .nfs создаются, когда открытый файл удаляется, но к нему все еще обращаются
.nfs*
